/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fuente myFont */
  @font-face {
    font-family: 'myFont';
    src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
/* Estilos del header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: 'myFont', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambiado para distribuir los elementos */
  max-width: 1200px; /* Ancho máximo del header */
  width: 90%; /* Ajuste para pantallas pequeñas */
}

/* Estilos del logo */
.logo-bt img {
  max-width: 180px;
  padding: 20px;
  transition: transform 0.3s ease;
}

/* Aumenta ligeramente el tamaño al pasar el ratón por encima */
.logo-bt img:hover {
  transform: scale(1.02);
}

/* Estilos de los botones */
.boton a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px; /* Aumentado el padding */
  border-radius: 15px;
  transition: all 0.3s;
}

.boton a:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
  height: 34px;
  filter: invert(100%) sepia(21%) saturate(361%) hue-rotate(152deg) brightness(111%) contrast(92%);
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
  border: none;
}
  
  /* Estilos para el fondo negro que ocupa toda la página */
  body {
    font-family: 'myFont', sans-serif;
    background-color: rgba(0, 0, 0, 0); /* Cambiado a transparente */
    color: whitesmoke; /* Color del texto en el fondo negro */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    height: 100%; /* Ocupa toda la altura disponible */
  }
  
  /* Empieza el css del footer */
  .footer {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.993);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon, .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item, .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: whitesmoke;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: whitesmoke;
    margin: 0 10px;
    transition: 0.5s;
    text-decoration: none;
    font-weight: 300;
    font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: whitesmoke;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  /* Estilos para la sección "Sobre Nosotros" */
  .about-us {
    background-color: whitesmoke; /* Color de fondo de la sección */
    padding-top: 50px;
  }
  
  .about-us .container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  .about-us h2 {
    font-size: 50px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: black; /* Color del texto */
    text-align: center;
  }
  
  .about-us p {
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: 30px; /* Espaciado inferior */
    color: black; /* Color del texto */
    text-align: center;
  }
  
  .image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

  .image-container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Estilos para la sección "Our History" */
  .our-history {
    background-color: darkred; /* Color de fondo de la sección */
    padding-top: 50px;
  }
  
  .our-history .container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  .our-history h2 {
    font-size: 50px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: whitesmoke; /* Color del texto */
    text-align: center;
  }
  
  .our-history p {
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: 30px; /* Espaciado inferior */
    color: whitesmoke; /* Color del texto */
    text-align: center;
  }
  
  .image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

  .image-container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .image-container-history {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

.image-container-history img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px; /* Margen superior */
    margin-bottom: 50px; /* Margen inferior */
  }

  /* Estilos responsive */
  @media (max-width: 768px) {
    header {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      align-items: center; /* Alinea los elementos a la izquierda */
    }
  
    .logo-bt img {
      margin-right: 0; /* Elimina el margen derecho del logo */
      margin-bottom: 10px; /* Añade margen inferior al logo */
    }
  
    .boton-carrito img {
      margin-bottom: 20px;
    }
  
    .boton a {
      margin-right: 0; /* Elimina el margen derecho de los botones */
      margin-bottom: 10px; /* Añade margen inferior a los botones */
    }
  
    .footer {
      padding: 20px 10px; /* Ajusta el padding del footer */
    }
  
    .social-icon, .menu {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      align-items: center; /* Alinea los elementos al centro */
    }
  
    .social-icon__link, .menu__link {
      margin: 5px 0; /* Ajusta el margen entre los enlaces */
    }
  }