/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Fuente myFont */
  @font-face {
    font-family: 'myFont';
    src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
/* Estilos del header */
:root {
  --header-height: 5rem;
  --body-color: black;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
}

.logo img{
  height: auto;
  padding: 15px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: whitesmoke;
}

.nav__actions a {
  color: whitesmoke;
}

.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: whitesmoke;
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  font-family: 'myFont';
  text-transform: uppercase;
  color: whitesmoke;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
  z-index: 1;
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}
  
  /* Estilos para el fondo negro que ocupa toda la página */
  body {
    font-family: 'myFont', sans-serif;
    background-color: rgba(0, 0, 0, 0); /* Cambiado a transparente */
    color: whitesmoke; /* Color del texto en el fondo negro */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    height: 100%; /* Ocupa toda la altura disponible */
  }
  
  /* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; 
}

.menu__link:hover {
  opacity: 1;
}

.footer-texto {
  display: flex;
  color: whitesmoke;
  margin: 15px 0 15px 0;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}


@media screen and (max-width: 850px) {
  .menu {
    flex-direction: column;
  }
}
  
  /* Estilos para la sección "Sobre Nosotros" */
  .about-us {
    background-color: whitesmoke; /* Color de fondo de la sección */
    padding-top: 50px;
  }
  
  .about-us .container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  .about-us h2 {
    font-size: 50px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: black; /* Color del texto */
    text-align: center;
  }
  
  .about-us p {
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: 30px; /* Espaciado inferior */
    color: black; /* Color del texto */
    text-align: center;
  }
  
  .image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

  .image-container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* Estilos para la sección "Our History" */
  .our-history {
    background-color: darkred; /* Color de fondo de la sección */
    padding-top: 50px;
  }
  
  .our-history .container {
    max-width: 1000px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
  }
  
  .our-history h2 {
    font-size: 50px; /* Tamaño del título */
    margin-bottom: 20px; /* Espaciado inferior */
    color: whitesmoke; /* Color del texto */
    text-align: center;
  }
  
  .our-history p {
    font-size: 24px; /* Tamaño del texto */
    margin-bottom: 30px; /* Espaciado inferior */
    color: whitesmoke; /* Color del texto */
    text-align: center;
  }
  
  .image-container {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

  .image-container img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .image-container-history {
    text-align: center; /* Centra la imagen horizontalmente */
    margin-top: 50px; /* Espacio entre el texto y la imagen */
    background-color: black;
  }

.image-container-history img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: 550px; /* Altura automática para mantener la proporción */
    margin-top: 50px; /* Margen superior */
    margin-bottom: 50px; /* Margen inferior */
  }

  /* Estilos responsive */
  @media (max-width: 768px) {
    header {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      align-items: center; /* Alinea los elementos a la izquierda */
    }
  
    .logo-bt img {
      margin-right: 0; /* Elimina el margen derecho del logo */
      margin-bottom: 10px; /* Añade margen inferior al logo */
    }
  
    .boton-carrito img {
      margin-bottom: 20px;
    }
  
    .boton a {
      margin-right: 0; /* Elimina el margen derecho de los botones */
      margin-bottom: 10px; /* Añade margen inferior a los botones */
    }
  
    .footer {
      padding: 20px 10px; /* Ajusta el padding del footer */
    }
  
    .social-icon, .menu {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      align-items: center; /* Alinea los elementos al centro */
    }
  
    .social-icon__link, .menu__link {
      margin: 5px 0; /* Ajusta el margen entre los enlaces */
    }
  }