/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Color de fondo del header */
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del logo */
.logo-bt img {
  max-width: 180px; /* Tamaño máximo del logo */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  transition: transform 0.3s ease; /* Transición para el cambio de tamaño */
}

/* Aumenta ligeramente el tamaño al pasar el ratón por encima */
.logo-bt img:hover {
  transform: scale(1.02); /* Aumenta el tamaño en un 10% */
}

/* Estilos de los botones */
.boton a {
  text-decoration: none;
  color: whitesmoke; /* Color de texto del botón */
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px; /* Espaciado interno */
  border: 0px solid #333; /* Borde */
  border-radius: 15px; /* Bordes redondeados */
  transition: all 0.3s; /* Transición de propiedades */
  display: inline-block;
  margin-right: 80px;
  margin-left: 80px;
}

.boton a:hover {
  background-color: rgba(255, 0, 0, 0.400); /* Color de fondo al pasar el mouse */
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
  display: block;
  max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
  height: 35px;
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
  border: none;
}

body {
  font-family: sans-serif; 
  background-color: darkred; 
  height: 100%; /* Ocupa toda la altura disponible */
}
.menu-container {
  display: flex;
  margin-bottom: 20px; /* Espacio entre las filas */
}

.menu {
  flex: 1;
  margin-right: 20px;
  
}
.titulo {
  text-align: center;
  margin-top: 50px;
}

.titulo h1 {
  color: white;
  border-bottom: 2px solid rgb(0, 0, 0);
  padding-bottom: 10px; /* Ajusta según sea necesario */
  display: inline-block;
}


.hamburguesa {
  margin: 10px;
}
.hamburguesa img {
  width: 100%;
  height: auto;
  border-radius: 10px; 
}

.texto-hamburguesa {
  position: absolute;
  bottom: 10px;
  left: 30px;
  color: white;
  padding: 10px;

}
.patatas img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* Ajusta el radio de los bordes para hacerlos redondeados */
} 
/* Estilos para hacer el título responsive */
@media only screen and (max-width: 768px) {
  .titulo h1 {
    font-size: 24px; /* Reducir el tamaño del título en dispositivos más pequeños */
  }
}









  
  
/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: whitesmoke;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
}

.carousel-item {
  width: 33.33%; /* Divide en tres partes */
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: darkred;
}

.carousel-item img {
  width: 80%;
  height: auto;
}

.carousel-item h2 {
  margin: 10px 0;
}

.boton-carrusel {
  background-color: black;
  border-radius: 100px;
  box-shadow: rgba(169, 169, 169, .2) 0 -25px 18px -14px inset,rgba(169, 169, 169, .15) 0 1px 2px,rgba(169, 169, 169, .15) 0 2px 4px,rgba(169, 169, 169, .15) 0 4px 8px,rgba(169, 169, 169, .15) 0 8px 16px,rgba(169, 169, 169, .15) 0 16px 32px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: 'myFont', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 20px;
  margin-bottom: 40px;
}

.boton-carrusel:hover {
  box-shadow: rgba(169, 169, 169,.35) 0 -25px 18px -14px inset,rgba(169, 169, 169,.25) 0 1px 2px,rgba(169, 169, 169,.25) 0 2px 4px,rgba(169, 169, 169,.25) 0 4px 8px,rgba(169, 169, 169,.25) 0 8px 16px,rgba(169, 169, 169,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* Estilos responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos a la izquierda */
  }

  .logo-bt img {
    margin-right: 0; /* Elimina el margen derecho del logo */
    margin-bottom: 10px; /* Añade margen inferior al logo */
  }

  .boton-carrito img {
    margin-bottom: 20px;
  }

  .boton a {
    margin-right: 0; /* Elimina el margen derecho de los botones */
    margin-bottom: 10px; /* Añade margen inferior a los botones */
  }

  .footer {
    padding: 20px 10px; /* Ajusta el padding del footer */
  }

  .social-icon, .menu {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  .social-icon__link, .menu__link {
    margin: 5px 0; /* Ajusta el margen entre los enlaces */
  }
  
}