/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Color de fondo del header */
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.header-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos del logo */
.logo-bt img {
  max-width: 180px; /* Tamaño máximo del logo */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  transition: transform 0.3s ease; /* Transición para el cambio de tamaño */
}

/* Aumenta ligeramente el tamaño al pasar el ratón por encima */
.logo-bt img:hover {
  transform: scale(1.02); /* Aumenta el tamaño en un 10% */
}

/* Estilos de los botones */
.boton a {
  text-decoration: none;
  color: whitesmoke; /* Color de texto del botón */
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px; /* Espaciado interno */
  border: 0px solid #333; /* Borde */
  border-radius: 15px; /* Bordes redondeados */
  transition: all 0.3s; /* Transición de propiedades */
  display: inline-block;
  margin-right: 180px;
  margin-left: 180px;
}

.boton a:hover {
  background-color: rgba(255, 0, 0, 0.400); /* Color de fondo al pasar el mouse */
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
  display: block;
  max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
  height: 34px;
  filter: invert(100%) sepia(21%) saturate(361%) hue-rotate(152deg) brightness(111%) contrast(92%);
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
  border: none;
}

body {
  font-family: "myfont";
  margin: 0;
  padding: 0;
}

.menu-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.menu-section h2 {
  font-size: 80px;
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px;
}

.burger-item, .drink-item, .dessert-item {
  display: flex; /* Utiliza flexbox para centrar la imagen */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin: 0 auto 40px; /* Agrega margen inferior para separar las cajas */
  width: 750px; /* Ajusta el ancho del contenedor */
  height: 318px; /* Ajusta la altura del contenedor */
  border-radius: 20px; /* Añade un borde redondeado */
  overflow: hidden; /* Asegura que el contenido no sobresalga del contenedor redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.952); /* Agrega una sombra suave */
}

.burger-item img, .drink-item img, .dessert-item img {
  max-width: 100%; 
  max-height: 100%; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.burger-details {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
}

.burger-details-titulo {
  display: flex;
  justify-content: center;
}

.burger-details-texto {
  display: flex;
}

.add-to-cart {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #45a049;
}
  
/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: whitesmoke;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

/* Estilos responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos a la izquierda */
  }

  .logo-bt img {
    margin-right: 0; /* Elimina el margen derecho del logo */
    margin-bottom: 10px; /* Añade margen inferior al logo */
  }

  .boton-carrito img {
    margin-bottom: 20px;
  }

  .boton a {
    margin-right: 0; /* Elimina el margen derecho de los botones */
    margin-bottom: 10px; /* Añade margen inferior a los botones */
  }

  .footer {
    padding: 20px 10px; /* Ajusta el padding del footer */
  }

  .social-icon, .menu {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  .social-icon__link, .menu__link {
    margin: 5px 0; /* Ajusta el margen entre los enlaces */
  }
  
}