/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos del header */
:root {
  --header-height: 5rem;
  --body-color: black;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
}

.logo img{
  height: auto;
  padding: 15px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: whitesmoke;
}

.nav__actions a {
  color: whitesmoke;
}

.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: whitesmoke;
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  font-family: 'myFont';
  text-transform: uppercase;
  color: whitesmoke;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
  z-index: 1;
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

body {
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}
.col-50 p{
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
margin-top: 10px;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 45px 45px 45px 45px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.icon-container img {
  width: 50px; /* Ajusta el ancho de las im치genes */
  height: auto; /* Permite que la altura se ajuste autom치ticamente */
  margin: 5px; /* Agrega un peque침o espacio entre las im치genes */
}

input[type=text], input[type=number] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: darkred;
  color: rgb(255, 255, 255);
  padding: 21px;

  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
  font-size: 17px;
  text-transform: uppercase;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; 
}

.menu__link:hover {
  opacity: 1;
}

.footer-texto {
  display: flex;
  color: whitesmoke;
  margin: 15px 0 15px 0;
  font-size: 1rem;
  font-weight: 300;
  justify-content: center;
  text-align: center;
}


@media screen and (max-width: 850px) {
  .menu {
    flex-direction: column;
  }
}
