
/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

#messageContainer {
  color: white; /* Cambia el color del texto a blanco */
  margin-top: 10px;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  font-family: 'myFont', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Cambiado para distribuir los elementos */
  max-width: 1200px; /* Ancho máximo del header */
  width: 90%; /* Ajuste para pantallas pequeñas */
}

/* Estilos del logo */
.logo-bt img {
  max-width: 180px;
  padding: 20px;
  transition: transform 0.3s ease;
}

/* Aumenta ligeramente el tamaño al pasar el ratón por encima */
.logo-bt img:hover {
  transform: scale(1.02);
}

/* Estilos de los botones */
.boton a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px; /* Aumentado el padding */
  border-radius: 15px;
  transition: all 0.3s;
}

.boton a:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
  height: 34px;
  filter: invert(100%) sepia(21%) saturate(361%) hue-rotate(152deg) brightness(111%) contrast(92%);
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
  border: none;
}

/*Empieza el formulario */
/* Establece el modelo de caja para todos los elementos */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Establece el fondo y la fuente para el cuerpo del documento */
body {
  background: darkred;
  font-family: 'myFont', sans-serif;
}

/* Define un contenedor flex para centrar verticalmente el contenido */
.background {
  display: flex;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
}

/* Estilos para el contenedor principal */
.container {
  display: flex;
  margin: auto;
}

/* Estilos para el área de pantalla */
.screen {
  display: flex;
  justify-content: center;
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

/* Estilos para el encabezado de la pantalla */
.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #0000009a;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* Estilos para los botones del encabezado */
.screen-header-button {
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
}

/* Estilos para el cuerpo de la pantalla */
.screen-body {
  display: flex;
  padding: 40px; /* Incrementado el padding */
  flex-direction: column;
}

.screen-body-item-left {
  display: flex;
  flex-direction: column;
}

/* Estilos para el título de la aplicación */
.app-title {
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 40px; /* Incrementado el tamaño de la fuente */
  margin-bottom: 30px;
}

/* Estilos para la información de contacto de la aplicación */
.app-contact {
  margin-top: auto;
  font-size: 18px; /* Incrementado el tamaño de la fuente */
  color: #888;
}

/* Estilos para los grupos de formularios de la aplicación */
.app-form-group {
  margin-bottom: 20px;
}

.app-form-group.buttons {
  margin-bottom: 0px;
}

/* Estilos para el grupo de mensajes del formulario de la aplicación */
.app-form-group.message {
  margin-top: 40px;
}

/* Estilos para los controles del formulario de la aplicación */
.app-form-control {
  width: 100%;
  padding: 15px 0; /* Incrementado el padding */
  background: none;
  border: none;
  border-bottom: 2px solid #666; /* Incrementado el grosor del borde */
  color: #ffffff;
  font-size: 20px; /* Incrementado el tamaño de la fuente */
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
  font-family: 'myFont', sans-serif;
}

/* Estilos para el texto de marcador de posición de los controles del formulario */
.app-form-control::placeholder {
  color: #666;
}

/* Estilos para los controles del formulario enfocados */
.app-form-control:focus {
  border-bottom-color: #ddd;
}

/* Estilos para los botones del formulario de la aplicación */
.app-form-button {
  
  background: none;
  border: 2px solid #db2223; /* Añadido un borde */
  color: #db2223;
  font-size: 18px; /* Incrementado el tamaño de la fuente */
  cursor: pointer;
  outline: none;
  text-decoration: none;
  padding: 10px 20px; /* Incrementado el padding */
  margin: 15px;
  font-family: 'myFont', sans-serif;
}

/* Estilos para los botones del formulario al pasar el cursor */
.app-form-button:hover {
  
  background: #db2223;
  color: #fff;
}

/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: whitesmoke;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}