/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Estilos del header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0); /* Color de fondo del header */
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

/* Estilos del logo */
.logo-bt img {
  max-width: 200px; /* Tamaño máximo del logo */
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-right: 80px;
  transition: transform 0.3s ease; /* Transición para el cambio de tamaño */
}

/* Aumenta ligeramente el tamaño al pasar el ratón por encima */
.logo-bt img:hover {
  transform: scale(1.05); /* Aumenta el tamaño en un 10% */
}

/* Estilos de los botones */
.boton a {
  text-decoration: none;
  color: whitesmoke; /* Color de texto del botón */
  font-size: 20px;
  font-weight: bold;
  padding: 5px 15px; /* Espaciado interno */
  border: 0px solid #333; /* Borde */
  border-radius: 15px; /* Bordes redondeados */
  transition: all 0.3s; /* Transición de propiedades */
  display: inline-block;
  margin-right: 150px;
}

.boton a:hover {
  background-color: rgba(255, 0, 0, 0.400); /* Color de fondo al pasar el mouse */
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
  display: block;
  max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
  height: 35px;
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
  border: none;
}

/* Estilos para el fondo negro que ocupa toda la página */
body {
  font-family: 'myFont', sans-serif;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el padding predeterminado del body */
  height: 100%; /* Ocupa toda la altura disponible */
}

/* Estilos para el contenedor del video */
.video-container {
  position: relative;
  width: 100%;
  height: 87vh; /* Ajustado a la altura de la pantalla */
  overflow: hidden;
}

/* Estilos para el video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

/* Estilos para el contenido */
.contenido {
  position: absolute;
  width: 45%; /* Tamaño de la mitad izquierda */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.514); /* Fondo difuminado */
}

/* Estilos para el texto */
.texto {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

/* Estilos del gradiente */
.gradient-container-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
}

/* Estilos para el texto del título */
.texto h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

/* Estilos para el texto del párrafo */
.texto p {
  font-size: 24px;
  margin: 0;
}

/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: whitesmoke;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: darkred;
}

.carousel-slide {
  display: flex;
  background-color: darkred;
  overflow-x: hidden; /* Agrega desplazamiento horizontal */
  overflow-y: hidden; /* Ocultar el desplazamiento vertical */
}

.carousel-item {
  flex: 0 0 calc(100% / 3); /* Calcula el ancho para tres elementos por fila */
  max-width: calc(100% / 3); /* Limita el ancho máximo para evitar que se hagan más pequeños */
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: darkred;
  scroll-snap-align: start; /* Alinea el inicio de cada elemento con el inicio del contenedor */
}

.carousel-item img {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease; /* Transición para el cambio de tamaño */
}

.carousel-item img:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% */
}

.carousel-item h2 {
  margin: 10px 0;
  font-size: 40px;
  color: whitesmoke;
}

.boton-carrusel {
  background-color: black;
  border-radius: 100px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: 'myFont', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  margin-bottom: 100px;
}

.boton-carrusel:hover {
  transform: scale(1.05) rotate(-1deg);
}

/* Estilos responsive */
@media (max-width: 768px) {
  header {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos a la izquierda */
  }

  .logo-bt img {
    margin-right: 0; /* Elimina el margen derecho del logo */
    margin-bottom: 10px; /* Añade margen inferior al logo */
  }

  .boton-carrito img {
    margin-bottom: 20px;
  }

  .boton a {
    margin-right: 0; /* Elimina el margen derecho de los botones */
    margin-bottom: 10px; /* Añade margen inferior a los botones */
  }

  .footer {
    padding: 20px 10px; /* Ajusta el padding del footer */
  }

  .social-icon, .menu {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Alinea los elementos al centro */
  }

  .social-icon__link, .menu__link {
    margin: 5px 0; /* Ajusta el margen entre los enlaces */
  }

  .carousel-container {
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100vh; /* Establece la altura al 100% del viewport */
  }
  
  .carousel-slide {
    flex-direction: column; /* Cambia la dirección del flex a columna */
    align-items: center;
  }

  .carousel-item {
    flex: 0 0 100%; /* Ancho de los elementos al 100% */
    margin: 10px 0; /* Espacio entre elementos */
  }

/* Estilos para hacer más pequeños los botones */
  .boton-carrusel {
    padding: 5px 10px; /* Espaciado interno más pequeño */
    font-size: 18px; /* Tamaño de fuente más pequeño */
  }

/* Estilos para hacer más pequeño el texto del título del producto */
  .carousel-item h2 {
    font-size: 20px; /* Tamaño de fuente más pequeño */
  }
  
}

.container-vertical {
  display: flex;
  justify-content: center;
}

.carousel-vertical {
  overflow: hidden;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
}

.carousel-vertical-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.carousel-vertical-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-vertical-item {
  display: none;
  padding: 20px;
}

.carousel-vertical-item.active {
  display: block;
}

.carousel-vertical-item.active h2 {
  display: block;
  font-size: 50px;
}

.carousel-vertical-item.active h2 {
  display: block;
  font-size: 50px;
}

.carousel-vertical-item.active p {
  display: block;
  font-size: 28px;
  margin-top: 30px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 25px 0;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}