/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
  font-family: 'myFont';
  src: url('../fonts/PatuaOne-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 5rem;
  --body-color: black;
  --z-fixed: 100;
  --z-modal: 1000;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, .15);
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  height: 100%;
}

.logo img{
  height: auto;
  padding: 15px;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: whitesmoke;
}

.nav__actions a {
  color: whitesmoke;
}

.nav__toggle, 
.nav__close {
  font-size: 1.25rem;
  color: whitesmoke;
  cursor: pointer;
  transition: color .4s;
}

:is(.nav__logo, .nav__toggle, .nav__link):hover {
  color: var(--first-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    width: 100%;
    padding-block: 4.5rem 4rem;
    transition: top .4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  font-family: 'myFont';
  text-transform: uppercase;
  color: whitesmoke;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  top: 0;
  z-index: 1;
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 3rem;
  }
  .nav__close, 
  .nav__toggle {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
}

/* Estilos para el fondo negro que ocupa toda la página */
body {
  font-family: 'myFont', sans-serif;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el padding predeterminado del body */
  height: 100%; /* Ocupa toda la altura disponible */
}

/* Estilos para el contenedor del video */
.video-container {
  position: relative;
  width: 100%;
  height: 87vh; /* Ajustado a la altura de la pantalla */
  overflow: hidden;
}

/* Estilos para el video de fondo */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

/* Estilos para el contenido */
.contenido {
  position: absolute;
  width: 45%; /* Tamaño de la mitad izquierda */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.514); /* Fondo difuminado */
}

/* Estilos para el texto */
.texto {
  text-align: center;
  color: whitesmoke;
  padding: 20px;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

/* Estilos del gradiente */
.gradient-container-video {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(0deg, rgba(139,0,0,1) 0%, rgba(255,0,0,0) 100%);
}

.trabaja-nosotros h1 {
  font-size: 30px; 
  margin-top: 40px; 

}

.trabaja-nosotros p {
 
  font-size: 16px; 
  margin-top: 5px; 
  text-align: center;
  box-shadow: black;
  

}

/* Estilos para el texto del título */
.texto h1 {
  font-size: 100px;
  margin-bottom: 20px;
}

/* Estilos para el texto del párrafo */
.texto p {
  font-size: 24px;
  margin: 0;
}

/* Empieza el css del footer */
.footer {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.993);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon, .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item, .menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: whitesmoke;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: whitesmoke;
  margin: 0 10px;
  transition: 0.5s;
  text-decoration: none;
  font-weight: 300;
  font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: whitesmoke;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: darkred;
}

.productos-destacados {
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 60px;    
  margin-top: 70px;
  margin-bottom: 10px;
  text-decoration: none; 
  position: relative; 
}

.carousel-slide {
  display: flex;
  background-color: darkred;
  overflow-x: hidden; 
  overflow-y: hidden; 
}

.carousel-item {
  flex: 0 0 calc(100% / 3); /* Calcula el ancho para tres elementos por fila */
  max-width: calc(100% / 3); /* Limita el ancho máximo para evitar que se hagan más pequeños */
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  background-color: darkred;
  scroll-snap-align: start; /* Alinea el inicio de cada elemento con el inicio del contenedor */
}

.carousel-item img {
  max-width: 80%;
  height: auto;
  transition: transform 0.3s ease; 
}

.carousel-item img:hover {
  transform: scale(1.1); 
}

.carousel-item h2 {
  margin: 10px 0;
  font-size: 40px;
  color: whitesmoke;
}

.boton-carrusel {
  background-color: black;
  border-radius: 100px;
  color: whitesmoke;
  cursor: pointer;
  display: inline-block;
  font-family: 'myFont', sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 50px;
  margin-bottom: 100px;
}

.boton-carrusel:hover {
  transform: scale(1.05) rotate(-1deg);
}

.container-vertical {
  display: flex;
  justify-content: center;
}

.carousel-vertical {
  overflow: hidden;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 100px;
}

.carousel-vertical-dots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.carousel-vertical-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel-vertical-item {
  display: none;
  padding: 20px;
}

.carousel-vertical-item.active {
  display: block;
}

.carousel-vertical-item.active h2 {
  display: block;
  font-size: 50px;
}

.carousel-vertical-item.active h2 {
  display: block;
  font-size: 50px;
}

.carousel-vertical-item.active p {
  display: block;
  font-size: 28px;
  margin-top: 30px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  margin: 25px 0;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.container-hamburguesas {
  display: flex;
  justify-content: center;
  background-color: black;
}

.video-container-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

.video-container-vertical img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 450px;
}

.container-encuentranos {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.find-us {
  margin-bottom: 50px; 
}

.find-us h2 {
  font-size: 50px;
  text-align: center;
}

.mapas {
  display: flex;
  justify-content: center;
}

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}

.direccion {
  padding: 10px;
  padding-left: 0px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  text-align: left;
  width: 100%;
}

.contacto {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-left: 0px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.telefono, .email, .ubicacion {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.telefono img, .email img, .ubicacion img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.telefono p, .email p, .ubicacion p {
    display: inline-block;

}

.texto-slider-container {
  display: flex;
  justify-content: center;
}

.marquee-w {
  position: relative;
  display: block;
  width: 100%;
  height: 140px;
  overflow: hidden;
  background-color: darkred;
}

.marquee {
  position: absolute;
  display: block;
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  text-align: center;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  line-height: 140px;
  font-size: 85px;
  font-style: italic;
  color: whitesmoke;
  animation: animacion 10s linear infinite;
}

.marquee2 span {
  animation-delay: 5s;
}

@keyframes animacion {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(-100%, 0);
  }
}