/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente myFont */
@font-face {
    font-family: 'myFont';
    src: url('./fonts/Extrabold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Estilos del header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffc49c; /* Color de fondo del header */
    font-family: 'myFont', sans-serif; /* Aplica la fuente myFont */
}

/* Estilos del logo */
.logo-bt img {
    max-width: 140px; /* Tamaño máximo del logo */
    padding: 5%;
    margin-left: 50px;
}

/* Estilos del botón de pedir */
.boton-pedir a, .boton-sesion a {
    text-decoration: none;
    color: #333; /* Color de texto del botón */
    font-size: 30px;
    font-weight: bold;
    padding: 10px 20px; /* Espaciado interno */
    border: 2px solid #333; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s; /* Transición de propiedades */
    display: inline-block;
}

.boton-pedir a:hover, .boton-sesion a:hover {
    background-color: #c46868; /* Color de fondo al pasar el mouse */
}

/* Estilos para centrar la imagen del carrito */
.boton-carrito img {
    display: block;
    margin-right: 50px; /* Centra la imagen horizontalmente */
    max-height: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
    height: 60px;
}

/* Elimina el borde del botón del carrito */
.boton-carrito a {
    border: none;
}

/* Estilos para el fondo negro que ocupa toda la página */
body {
    font-family: 'myFont';
    background-color: rgba(12, 11, 11, 0.897);
    color: rgb(255, 255, 255); /* Color del texto en el fondo negro */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 0; /* Elimina el padding predeterminado del body */
    height: 100%; /* Ocupa toda la altura disponible */
}

/* Estilos para el contenido principal */
.principal {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinea al inicio del contenedor principal */
    height: 100vh; /* Ocupa toda la altura visible de la pantalla */
    padding-top: 20px; /* Añade espacio superior */
}

.content-container {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    background-color: rgba(255, 255, 255, 0.1); /* Color de fondo del recuadro */
    border-radius: 20px; /* Bordes redondeados */
    overflow: hidden; /* Evita que el contenido se desborde del recuadro */
    width: 80%; /* Ancho del contenedor */
    max-width: 600px; /* Ancho máximo */
}

.image-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    padding: 20px;
}

.image-container {
    flex: 1;
}

.image-container img {
    max-width: 100%; /* La imagen ocupa el ancho máximo disponible */
    border-radius: 10px; /* Bordes redondeados */
}

.text-container {
    flex: 1;
    text-align: left;
    padding-left: 20px;
}

.novedad {
    font-size: 20px; /* Tamaño de fuente para la novedad */
    color: red; /* Color rojo */
    text-align: center; /* Centrado */
    margin-bottom: 10px; /* Espacio inferior */
}
